.col-1 {
  float: left;
  width: 8.33333333%;
}
.col-2 {
  float: left;
  width: 16.6666666%;
}
.col-3 {
  float: left;
  width: 25%;
}
.col-4 {
  float: left;
  width: 32.329999%;
}
.col-5 {
  float: left;
  width: 40.66666%;
}
div {
  height: 50px;
  border: 1px solid red;
}

.row:before {
  display: table;
  content: "";
}

.row:after {
  display: table;
  content: "";
  clear: both;
}
